* {
    background: beige;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
}
div{
    display: inline-block;
    margin: 20px auto 20px auto;
    text-align: center;
}
em{
    font-weight: bold;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
    padding: 10px;
}
h3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    width: 100%;
}
header{
    padding-bottom: 20px;
}
#leftBottom{
    font-size: 14px;
    color:hsla(180, 50%, 50%, 0.5);
}
#leftBottomH{
    font-size: 36px;
    /* color: #9b1515; */
    color: hsl(180, 50%, 50%);
}
#middleBottom{
    font-size: 24px;
}
#middleBottomH{
    font-size: 36px;
}
main{
    padding: 10px;
}
nav{
    width: 100%;
    letter-spacing: 0.8em;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}
p{
    text-indent: 2em;
}
nav a{
    float: left;
    background-color: pink;
    border: 1px solid;
    padding: 10px 0 10px 0;
    width: 33%;
    text-align: center;
}
#rightBottom{
    font-size: 24px;
}
#rightBottomH{
    font-size: 36px;
}
#split{
    width: 100%; 
}
#split div{
    width: 30%;
}
sub{
    vertical-align: sub;
}
#summary{
    font-size: 20px;
}
ul{
    list-style-type: circle;
    list-style-position: inside;
}