* {
    background: beige;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
    padding: 10px;
}
h3{
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}
header{
    padding-bottom: 20px;
    width: 100%;
}
main{
    padding: 10px;
}
nav{
    width: 100%;
    padding: 15px;
    letter-spacing: 0.8em;
}
nav ul li{
    float: left;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
ol {
    color: blue;
}
p{
    text-indent: 2em;
}
ul a{
    background-color: pink;
    border: 1px solid;
    padding: 5px;
    width: 33%;
}

.teal {
    color: teal;
}