* {
    background: beige;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 12px;     */
}
div{
    display: inline-block;
    margin: 20px auto 20px auto;
    text-align: center;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
    padding: 10px;
}
h3{
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    width: 100%;
}
header{
    padding-bottom: 20px;
}
main{
    padding: 10px;
}
nav{
    width: 100%;
    letter-spacing: 0.8em;
}

ol {
    color: blue;
}
p{
    text-indent: 2em;
}
nav a{
    float: left;
    background-color: pink;
    border: 1px solid;
    padding: 10px;
    width: 31%;
    text-align: center;
}
#split{
    width: 100%; 
}
#split div{
    width: 40%;
}
#summary{
    font-size: 20px;
}